<div class="hero-body">
    <div class="container">
        <p class="title has-text-black">Log In</p>
    </div>
</div>

<section>
    <div class="container">
        <div class="box" id="login-form">
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" id="username-login" type="text" placeholder="Username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" id="password-login" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success" id="log-in-submit">Login</button>
                    <button class="button is-link">
                        <a class="has-text-white" "button is-warning" href="./signup">Sign Up Instead</a>
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/login.js"></script>
